/* Smartphones (portrait) ----------- */
/* @media only screen and (max-width: 375px) { */
  /* Styles */
  /* #titleBar {
    opacity: 1;
  }
} */

/* Desktops and laptops ----------- */
/* @media only screen and (min-width: 1224px) {
  #title {
    margin-bottom: 3rem;
  }

  #titleText {
    padding-left: 0;
  }

  .bigtext {
    font-size: 5rem;
  }

  .display-3 {
    font-size: 4.5rem !important;
  }

  #titleBar {
    background-color: #50c9ce;
    width: 0.5rem;
    height: 28rem;
    margin-right: 1rem;
    margin-left: 3rem;
  }

  #checkingBtn {
    margin-top: 2rem;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }

  #doubledown {
    margin-top: 0rem;
  }
} */

/* Large screens ----------- */
/* @media only screen and (min-width: 1824px) {

  #titleContainer {
    margin-top: 8rem;
    margin-bottom: 6rem;
  }

  #titleBar {
    background-color: #50c9ce;
    width: 0.5rem;
    height: 28rem;
    margin-right: 1rem;
    margin-left: 3rem;
  }
} */

html,body
{
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden;  This will fix white spacing overflow on the right but will disable navbar stickytop*/
}


#titleContainer {
  margin-top: 3vh;
  margin-bottom: 10vh;
}

#titleBox{
  border-left: 0.5rem solid #50c9ce;
}

#title{
  margin-top: 10vh;
  text-align: center;
}

a {
  text-decoration: none;
}

h1{
  margin-bottom: 1rem !important;
}

p{
  margin-bottom: 2rem !important;
}

.m-size-text {
  margin-top: 3rem;
  margin-bottom: 4rem;
  font-size: 2rem !important;
}

.bigtext {
  font-size: 15vh;
  border-bottom: 0;
}

.secondaryTitle{
  font-size: 8vh !important;
}

.jumbotron {
  margin-bottom: 0 !important;
}

.skillIcon{
  margin-bottom: 2rem;
}

.skillIcon2{
  width: 5rem;
  height: 5rem;
}

.row{
  margin-left: 0 !important;
}

.card{
  border-radius: 0!important;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.card:hover{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal-content{
  border-radius: 0!important;
}

.modal-footer{
  justify-content: flex-start !important;
}

.projectClose{
  margin: -1rem 1rem -1rem auto !important;
}

.projectImage{
  width: 766px !important;
  height: 455px !important;
}

#checkingBtn {
  margin-bottom: 7rem;
  color: #50c9ce !important;
  border: 0px solid #50c9ce;
  border-radius: 0%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
}

#landingSection {
  background-color: #1f2123;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-shadow: -1px 0 #1f2123, 0 1px #1f2123, 1px 0 #1f2123, 0 -1px #1f2123;
}

#particleArt{
  position: absolute;
  background: #1f2123;
  vertical-align: bottom;
  width: 99vw;
}

#navbar {
  background-color: rgb(22, 27, 34) !important;
  border-bottom: 0.2rem solid #50c9ce;
  color: #ffffff;
}

#aboutSection {
  background-color: #ffffff;
}

#contactSection {
  background-color: #1f2123;
}

#footer {
  background-color: rgb(22, 27, 34);
}

#finalBlock{
  height: 100vh;
  background-color: rgb(22, 27, 34);
}

#mainGitBtn {
  margin-bottom: 2rem;
  border: 3px solid #50c9ce;
  border-radius: 0.1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #E9ECEF;
  margin-bottom: 5rem;
  font-size: 1.3rem;
}

#emailBtn {
  margin-bottom: 2rem;
  border: 3px solid #ff206e;
  border-radius: 0.1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  background-color: #1f2123;
  margin-bottom: 5rem;
  font-size: 1.3rem;
}

#emailText {
  margin-bottom: 0;
  font-size: 1rem;
}

#copyright {
  margin-bottom: 0;
}

#links {
  margin-bottom: 2rem;
}

#cars-logo{
  height: 15rem;
  width: 15rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#albron-logo{
  height: auto;
  width: 15rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#discord-logo{
  height: 15rem;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.socialBtn {
  border: 0px solid #ffffff;
  border-radius: 0%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  margin: 1rem;
  background-color: rgb(40, 42, 44);
}

.pink-text {
  color: #ff206e;
}

.blue-text {
  color: #50c9ce;
}

.white-text {
  color: #ffffff;
}

.dark-grey-text {
  color: rgb(74, 76, 78);
}

.grey-text {
  color: rgb(90, 92, 94);
}

.light-grey-text{
  color: rgb(144, 144, 145);
}

.animate-bounce {
  animation-name: bouncing;
  animation-timing-function: ease;
}

#doubledown {
  margin-top: 2rem;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.projectBtn{
  margin-bottom: 2rem;
  border: 3px solid #ff206e;
  border-radius: 0.1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-color: #ff206e;
  font-size: 1rem;
  color: #ffffff;
  transition: 0.3s;
}

.projectBtn:hover{
  background-color: #ffffff;
  color:#ff206e;
}

.gg-external {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs,1));
  width: 10px;
  height: 10px;
  box-shadow:
      -2px 2px 0 0,
      -4px -4px 0 -2px,
      4px 4px 0 -2px;
  margin-left: 8px;
  margin-top: 7px;
  float: right;
}
.gg-external::after,
.gg-external::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  right: -4px
}
.gg-external::before {
  background: currentColor;
  transform: rotate(-45deg);
  width: 12px;
  height: 2px;
  top: 1px
}
.gg-external::after {
  width: 8px;
  height: 8px;
  border-right: 2px solid;
  border-top: 2px solid;
  top: -4px
}

@keyframes bouncing {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

.hvr-bounce-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff206e;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
}
.hvr-bounce-to-right:hover,
.hvr-bounce-to-right:focus,
.hvr-bounce-to-right:active {
  color: white;
}
.hvr-bounce-to-right:hover:before,
.hvr-bounce-to-right:focus:before,
.hvr-bounce-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.hvr-bounce-to-right:hover .hvr-icon,
.hvr-bounce-to-right:focus .hvr-icon,
.hvr-bounce-to-right:active .hvr-icon {
  color: white;
  transition-duration: 0.5s;
}

.hvr-bounce-to-right:hover .hvr-icon {
  transition-duration: 0.5s;
}

.hvr-icon {
  transition-duration: 0.5s;
}

@-webkit-keyframes hvr-icon-drop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  51%,
  100% {
    opacity: 1;
  }
}

@keyframes hvr-icon-drop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  51%,
  100% {
    opacity: 1;
  }
}
/* Icon Drop */
.hvr-icon-drop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-icon-drop .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.hvr-icon-drop:hover .hvr-icon,
.hvr-icon-drop:focus .hvr-icon,
.hvr-icon-drop:active .hvr-icon {
  opacity: 0;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-animation-name: hvr-icon-drop;
  animation-name: hvr-icon-drop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  animation-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
